@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import "tailwindcss";


:root {
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-700: #1d4ed8;

  --color-bg-page: #f3f4f6;
  --color-bg-surface: #ffffff;
  --color-bg-input: #f1f2f7;

  --color-border-base: #e5e7eb;

  --color-text-main: #111827;
  --color-text-muted: #6b7280;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-page: #0f1012;
    --color-bg-surface: #18181b;
    --color-bg-input: #27272a;

    --color-border-base: #3f3f46;

    --color-text-main: #f3f4f6;
    --color-text-muted: #9ca3af;
  }
}


@theme {
  --color-brand: var(--color-brand-600);
  --color-brand-hover: var(--color-brand-700);

  --color-bg-app: var(--color-bg-page);
  --color-bg-card: var(--color-bg-surface);
  --color-bg-field: var(--color-bg-input);

  --color-border-field: var(--color-border-base);

  --color-text-primary: var(--color-text-main);
  --color-text-secondary: var(--color-text-muted);
}

.card {
    @apply rounded-lg border backdrop-blur-lg border-black bg-bg-card dark:border-[#333];
}
