@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import "tailwindcss";


@theme {
    --font-poppins: "Poppins", sans-serif;
    --color-light-pri: #f1f3f4;
    --color-dark-pri: #282e3d;
    --color-dark-sec: #1a1d23;

}

.section-custom {
    @apply p-6 rounded-lg border bg-white backdrop-blur-lg border-black dark:bg-dark-sec dark:border-gray-800;
}


.animation__toast {
    animation: toast 500ms ease-in-out;
}

@keyframes toast {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}